/*normal mode start */
.normal-mode h1 {
    background-color: aqua;


}


.normal-mode h2 {
    background-color: blue;


}

.normal-mode h3 {

    background-color: blueviolet;
}

.normal-mode p {

    background-color: chartreuse;
}


.normal-mode span {


    background-color: brown;

}

.normal-mode bold {


    background-color: red;
}


/*normal mode end */




/*change  mode start */


.after-change-mode h1 {
    background-color: aqua;

    display: inline;
}


.after-change-mode h2 {
    background-color: blue;
    display: inline;

}

.after-change-mode h3 {

    background-color: blueviolet;
    display: inline;
}

.after-change-mode p {

    background-color: chartreuse;
    display: inline;
}


.after-change-mode span {


    background-color: brown;
    display: block;

}

.after-change-mode bold {

    display: block;
    background-color: red;
}


.inline-block p {


    background-color: green;
    display: inline-block;
    margin-left: 10px;
    height: 300px;
    width: 300px;
}





/*change mode end */

.hover-now p:hover {

    color: green;
    background-color: blueviolet;
}

.focuse-now input:focus {

    color: brown;
    padding: 20px;
    font-size: 30px;

}

.visited a:visited {


    color: red;


}

li:first-child {

    font-size: 40px;
    color: green;
}

li:last-child {

    font-size: 25px;
    color: blueviolet
}

li:nth-child(2n) {

    color: yellow;
}

.sudo-ele p::before {


    content: 'my ';
}

.sudo-ele p::after {


    content: 'love ';
}